{{ define "footer" }}
<div>
    <div class="row">
        <div class="col text-center">
            <hr>
            <small class="text-muted">Copyright &copy; techarm dev</small>
        </div>
    </div>
</div>
{{ end }}